<footer class="footer">
    <p class="footer-title">get in touch</p>
    <div class="top">
        <div class="messages">
            <p class="email">roger.collado1130@gmail.com</p>
            <p class="telegram">t.me/r_collado</p>
        </div>
        <ul class="link-list">
            <li>work</li>
            <li>skills</li>
            <li>shelf</li>
            <li>resume</li>
        </ul>
    </div>
    <div class="bottom">
        <p class="copyright">© Roger Collado 2022</p>
        <div class="socials">
            <button>ig</button>
            <button>in</button>
            <button>gh</button>
            <button>em</button>
        </div>
    </div>
</footer> 