<footer class="footer">
    <p class="footer-title">get in touch</p>
    <div class="top">
        <div class="messages">
            <p class="email">roger.collado1130@gmail.com</p>
            <p class="telegram">t.me/r_collado</p>
        </div>
        <ul class="link-list">
            <li><a>work</a></li>
            <li><a>skills</a></li>
            <li><a>shelf</a></li>
            <li><a>resume</a></li>
        </ul>
    </div>
    <div class="bottom">
        <p class="copyright">© Roger Collado 2022</p>
        <div class="socials">
            <button (click)="openLink('ig')">ig</button>
            <button (click)="openLink('in')">in</button>
            <button (click)="openLink('gh')">gh</button>
            <button (click)="openLink('em')">em</button>
        </div>
    </div>
</footer> 