.nav-menu {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  z-index: 999;

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    z-index: 1000;

    & div {
      pointer-events: none;
      height: 0.5rem;
      background: var(--clr-primary-300);
      transition: transform 0.25s ease, width 0.25s ease,
        margin-right 0.25s ease, background-color 0.25s ease;
    }

    &--1 {
      width: 3.5rem;
    }

    &--2 {
      width: 5rem;
    }
  }

  &:hover .nav-menu-icon--1 {
    margin-right: 1.5rem;
  }

  & .nav-menu-icon.active {
    display: block;

    & .nav-menu-icon--1 {
      transform: rotateZ(45deg) translateY(3px);
      width: 4rem;
    }
    & .nav-menu-icon--2 {
      transform: rotateZ(-45deg) translateY(-3px);
      width: 4rem;
    }
  }

  &:hover .nav-menu-icon.active .nav-menu-icon--1 {
    margin: 0;
  }
}

.primary-nav {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  padding-left: 5rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.25s ease, z-index 0.25s;

  & .nav-title {
    margin-top: 10rem;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  & .link-list {
    list-style: none;
    margin-top: 1rem;
    margin-left: 1rem;

    & > * {
      margin-top: 2rem;
    }

    & .link {
      color: var(--clr-primary-400);
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      margin-left: 1rem;
      position: relative;
      background: transparent;
      border: 0;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        background-color: var(--clr-primary-100);
        height: 100%;
        width: 2rem;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.25s ease, right 0.25s ease-in-out;
      }

      &:hover::before {
        opacity: 1;
        right: -0.5rem;
      }
    }

    &.hello {
      display: flex;
      gap: 3rem;

      & > * {
        margin-top: 0;
      }

      & .link {
        font-weight: 200;

        &::before {
          width: 1.5rem;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    z-index: 500;

    & .essentials {
      animation: fadeUp 0.25s linear;
    }

    & .socials {
      animation: fadeUp2 0.5s linear;
    }
  }
}

@media (min-width: 768px) {
  .primary-nav {
    left: auto;
    top: 1.5rem;
    right: 1.5rem;
    width: 32rem;
    height: 45rem;
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.1);

    & .nav-title {
      font-size: 1.5rem;
      margin-top: 5rem;
      text-transform: uppercase;
    }

    & .link-list {
      & .link {
        font-size: 2rem;
      }

      &.hello .link {
        font-size: 1.5rem;
      }
    }
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUp2 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  50% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &.active {
    z-index: 250;
  }
}
