<div class="nav-menu" (click)="toggleMenu($event)">
    <div class="nav-menu-icon">
        <div class="nav-menu-icon--1"></div>
        <div class="nav-menu-icon--2"></div>
    </div>
</div>

<nav class="primary-nav">
    <div class="essentials">
        <p class="nav-title">Essentials</p>
        <ul class="link-list">
            <li *ngFor="let link of links">
                <a [routerLink]="link.link"
                class="link"
                (click)="linkClicked($event)"
                *ngIf="link.link !==  path">
                    {{ link.label }}
                </a>
            </li>
        </ul>
    </div>
    <div class="socials">
        <p class="nav-title">socials</p>
        <div class="links">
            <ul class="link-list hello">
                <li *ngFor="let social of socials">
                    <button class="link"
                    (click)="openLink(social)">
                        {{ social }}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="overlay" (click)="closeMenu($event)"></div>
