<div class="nav-menu" (click)="toggleMenu($event)">
    <div class="nav-menu-icon">
        <div class="nav-menu-icon--1"></div>
        <div class="nav-menu-icon--2"></div>
    </div>
</div>

<nav class="primary-nav">
    <div class="essentials">
        <p class="nav-title">essentials</p>
        <ul class="link-list">
            <li *ngFor="let link of links">
                <a [routerLink]="link.link"
                class="link">
                    {{ link.label }}
                </a>
            </li>
        </ul>
    </div>
    <div class="socials">
        <p class="nav-title">say hello</p>
        <div class="links">
            <ul class="link-list socials">
                <li *ngFor="let social of socials">
                    <a [routerLink]="social.link"
                    class="link">
                        {{ social.label }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>