<header class="primary-header">
  <div class="text">
    <div class="job-title">
      <div class="jobs">
        <p>fullstack developer</p>
        <p>website designer</p>
      </div>
    </div>
    <h1 class="name">roger collado</h1>
  </div>
  <div class="img"><img src="assets/img/header-img-small.png" /></div>
</header>

<section class="whoami">
  <h2 class="section-title">who am i?</h2>
  <p class="description">
    i'm a fullstack developer and website designer from Spain
  </p>
  <p class="description">
    i'm probably not the typical designer who spends hours on ui designing apps,
    but you'll find me immersed in stylesheets contemplating layouts and
    changing every bit until it hits the spot
  </p>
  <p class="description">
    ill deliver to you the best end product possible, on the fastest and most
    efficient way. im here to transform your problems into solutions
  </p>
  <p class="description">
    i update this portfolio every year* as a recap to see how much i’ve
    improved, so feel free to come again in a few months!
  </p>
  <div class="socials">
    <p>if you desire to know more about me you can follow me on socials:</p>
    <div class="social-icons">
        <button class="social-icon">ig</button>
        <button class="social-icon">in</button>
        <button class="social-icon">gh</button>
    </div>
    <p>or get in touch with me</p>
  </div>

</section>
