// header

.primary-header {
  margin: 0;
  background: var(--clr-primary-100);
  padding-top: 1px;
  padding-bottom: 10rem;

  .container {
    & .text {
      & .job-title {
        color: var(--clr-primary-200);
        position: relative;
        margin-left: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 10rem;
        margin-right: 1rem;
        gap: 1rem;

        & p {
          font-size: 2rem;
          font-weight: 400;
        }

        &::before {
          content: "";
          position: relative;
          height: 2px;
          width: 15rem;
          background: var(--clr-primary-200);
          transform: translateY(-5px);
        }
      }

      & .name {
        position: relative;
        top: 15rem;
        margin-left: auto;
        font-size: 10rem;
        font-weight: 800;
        line-height: 1;
        max-width: 5ch;
        transform: rotate(-90deg) translateY(5rem);
      }
    }

    & .img {
      margin-inline: auto;
      position: relative;
      width: max-content;
      z-index: 0;
      margin-top: 25rem;
      & img {
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        width: 100%;
        height: 100%;
        border: 5px solid var(--clr-accent-400);
        z-index: -1;
      }
    }
  }
}

@media (min-width: 650px) {
  .primary-header .container {
    display: flex;
    flex-direction: row-reverse;

    & .img {
      margin-left: 5rem;
      transform: translateY(-4rem);
    }
  }
}

@media (min-width: 1000px) {
  .primary-header .container {
    max-width: 140rem;
    justify-content: space-between;
    align-items: stretch;

    & .text {
      margin-top: 10rem;

      & .name {
        margin-top: 24rem;
      }
    }

    & .img::before {
      top: 5rem;
      left: 5rem;
    }
  }
}

// who am i

.whoami {
  padding: 5rem 2.5rem;
  text-align: center;
  background-color: var(--clr-background-100);

  & .description {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;

    & + .description {
      margin-top: 2rem;
    }
  }

  & .socials {
    margin-top: 5rem;
    padding-top: 3rem;
    border-top: 2px solid var(--clr-primary-400);

    & p {
      color: var(--clr-primary-400);
      font-size: 1.5rem;
      font-weight: 500;
    }

    & .social-icons {
      margin-block: 1rem;
      display: flex;
      justify-content: center;
      gap: 3.5rem;

      & .social-icon {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        font-weight: 900;
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          right: -2rem;
          background-color: var(--clr-primary-200);
          height: 100%;
          width: 2.5rem;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.25s ease, right 0.25s ease-in-out;
        }

        &:hover::before {
          opacity: 1;
          right: -1rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .whoami {
    padding: 20rem 2.5rem;

    & .container {
      display: flex;
      max-width: 130rem;
      text-align: left;

      & .descriptions {
        border-right: 2px solid var(--clr-primary-400);
        max-width: 70%;

        & .description {
          max-width: 80%;
          font-size: 2rem;
          font-weight: 500;
        }

        & > * + * {
          margin-top: 3rem;
        }
      }

      & .socials {
        border-top: none;
        margin-left: 3rem;

        & p {
          font-size: 2rem;
          font-weight: 500;
        }

        & .social-icons {
          justify-content: flex-start;

          & .social-icon {
            font-size: 2rem;
            margin-block: 3rem;
            font-weight: 900;
          }
        }

        & .cta {
          position: relative;
          overflow: hidden;

          & .arrow {
            position: absolute;
            left: 70%;
            top: -10px;
            animation: arrowMovement 1.25s infinite ease;
          }
        }
      }
    }
  }
}

@keyframes arrowMovement {
  0% {
    top: -30px;
  }

  100% {
    top: 30px;
  }
}

// about

.about {
  padding: 2.5rem 2rem;
  text-align: center;
  background-color: var(--clr-background-300);
  text-align: left;
  & .container {
    & .about-sections {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10rem;
      background-color: #fff;
      padding: 4rem 3rem;

      & .section-title {
        color: var(--clr-accent-400);
        font-size: 2.5rem;
      }

      & .subtitle {
        font-size: 1.5rem;
        margin-block: 2rem;
        max-width: 30ch;
      }

      & a {
        cursor: pointer;
        font-size: 1.5rem;
        background: transparent;
        color: var(--clr-accent-400);
        border: 1px solid var(--clr-accent-400);
        text-transform: uppercase;
        padding: 2rem 5rem;
        text-decoration: none;
        transition: background-color 0.25s ease, color 0.25s ease;

        &:hover,
        &:focus,
        &:active {
          background-color: var(--clr-accent-400);
          color: var(--clr-primary-100);
        }
      }

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--clr-accent-400);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}

@media (min-width: 768px) {
  .about {
    text-align: left;
    padding: 15rem 2.5rem;

    & .container {
      max-width: 150rem;

      & .about-sections {
        flex-direction: row;
        justify-content: space-around;
        padding: 15rem 2.5rem;

        & .about-section {
          max-width: 45%;

          & > * + * {
            margin-top: 2.5rem;
          }

          & .section-title {
            font-size: 4.5rem;
            font-weight: 900;
            max-width: 75%;

            @media (max-width: 1230px) {
              font-size: 4rem;
            }
            @media (max-width: 1100px) {
              font-size: 3.5rem;
            }
            @media (max-width: 920px) {
              font-size: 3rem;
            }
            @media (max-width: 850px) {
              font-size: 2.5rem;
            }
          }

          & .subtitle {
            font-size: 1.75rem;
            max-width: 50%;
            margin-bottom: 5rem;

            @media (max-width: 1140px) {
              font-size: 1.5rem;
            }
            @media (max-width: 1000px) {
              font-size: 1.25rem;
            }
            @media (max-width: 915px) {
              font-size: 1rem;
            }
            // @media (max-width: 780px) { font-size: .75rem; }
          }

          & a {
            transition: box-shadow 0.25s ease, color 0.25s ease-out;
            

            &:hover,
            &:focus,
            &:active {
              box-shadow: inset 17em 0 0 0 var(--clr-accent-400);
              color: var(--clr-background-100);
              background-color: transparent;
            }
          }

          @media (max-width: 980px) {
            max-width: 100%;
          }
        }

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: var(--clr-accent-400);
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

// form
.form {
  padding: 2.5rem 2rem;
  text-align: center;
  background-color: var(--clr-background-100);

  & .section-title {
    font-size: 3.5rem;
  }

  & .subtitle {
    font-size: 2.5rem;
    color: var(--clr-primary-400);
  }

  & .explanation {
    font-size: 1.5rem;
  }

  & form {
    color: var(--clr-primary-400);
    font-size: 2.5rem;

    & label {
      font-weight: 200;
    }

    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      margin-top: 3rem;

      & input,
      & textarea {
        border: none;
        border-bottom: 1px solid var(--clr-primary-300);
        outline: none;
        font-size: 2.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        background-color: transparent;
        transition: border-bottom 0.25s ease;

        &::placeholder {
          color: var(--clr-primary-300);
          font-size: 2.5rem;
          font-weight: 200;
        }

        &:hover,
        &:focus {
          border-bottom: 1px solid var(--clr-accent-400);
        }
      }

      & textarea {
        padding-bottom: -1rem;
      }

      & .send-btn {
        cursor: pointer;
        font-size: 1.5rem;
        background: transparent;
        color: var(--clr-primary-400);
        border: 1px solid var(--clr-primary-400);
        text-transform: uppercase;
        padding: 2rem 5rem;
        transition: background-color 0.25s ease, color 0.25s ease;

        &:hover,
        &:focus,
        &:active {
          background-color: var(--clr-primary-400);
          color: var(--clr-primary-100);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .form {
    padding: 15rem 2.5rem;
    text-align: left;

    & .section-title {
      font-size: 5rem;
    }

    & .subtitle {
      font-weight: 600;
      font-size: 4rem;
      text-align: center;
    }

    & .explanation {
      font-size: 2.5rem;
      text-align: center;
    }

    & form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      margin-top: 3rem;

      & .form-item {
        min-width: 40%;

        &.form-message {
          width: 100%;
        }

        & input,
        & textarea {
          padding-left: 0;
        }

        &.form-btn {
          margin: 5rem auto;
          & .send-btn {
            transition: box-shadow 0.25s ease-in-out, color 0.25s ease-out;
            font-size: 2.25rem;

            &:hover,
            &:focus,
            &:active {
              box-shadow: inset 24em 0 0 0 var(--clr-primary-400);
              color: var(--clr-primary-100);
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
