<header class="primary-header">
  <div class="container">
    <div class="text">
      <div class="job-title">
        <div class="jobs">
          <p>fullstack developer</p>
          <p>website designer</p>
        </div>
      </div>
      <h1 class="name">roger collado</h1>
    </div>
    <div class="img">
      <img
        *ngIf="smallHeader; else bigImg"
        src="assets/img/header-img-small.png"
      />
      <ng-template #bigImg>
        <img src="assets/img/header-img-big.png" />
      </ng-template>
    </div>
  </div>
</header>

<section class="whoami">
  <div class="container">
    <div class="descriptions">
      <h2 class="section-title">Who am I?</h2>
      <p class="description">
        I am a fullstack developer and website designer from Spain
      </p>
      <p class="description">
        Probably I am not the typical designer who spends hours on ui designing
        apps, but you'll find me immersed in stylesheets contemplating layouts
        and changing every bit until it hits the spot
      </p>
      <p class="description">
        I will deliver to you the best end product possible, on the fastest and
        most efficient way. I am here to transform your problems into solutions
      </p>
      <p class="description">
        I update this portfolio every year* as a recap to see how much I have
        improved, so feel free to come again in a few months!
      </p>
    </div>
    <div class="socials">
      <p>If you desire to know more about me you can follow me on socials:</p>
      <div class="social-icons">
        <button class="social-icon" (click)="openLink('ig')">IG</button>
        <button class="social-icon" (click)="openLink('in')">IN</button>
        <button class="social-icon" (click)="openLink('gh')">GH</button>
        <button class="social-icon" (click)="openLink('tw')">TW</button>
      </div>
      <p class="cta">
        or get in touch with me <svg-arrowd class="arrow"></svg-arrowd>
      </p>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about-sections">
      <div class="about-section">
        <h2 class="section-title">I develop & design stuff</h2>
        <p class="subtitle">Open code, whole apps and experimental projects</p>
        <a href="/work">see my work</a>
      </div>
      <div class="about-section">
        <h2 class="section-title">I write about different topics</h2>
        <p class="subtitle">
          Mainly about coding but there is a bit of everything.
        </p>
        <a href="/shelf">read my articles</a>
      </div>
    </div>
  </div>
</section>

<section class="form">
  <div class="container">
    <h2 class="section-title">Get in touch</h2>
    <p class="subtitle">Send me a message</p>
    <p class="explanation">Got any question, proposal or simply say hello?</p>
    <p class="explanation">I will reply as fast as possible!</p>
    <form>
      <div class="form-item form-name">
        <label>Your Name</label>
        <input type="text" name="name" placeholder="Example" required/>
      </div>
      <div class="form-item form-email">
        <label>Email Address</label>
        <input type="email" name="email" placeholder="example@domain.com" required/>
      </div>
      <div class="form-item form-message">
        <label>Your Message</label>
        <textarea name="message" placeholder="A piece of your mind" required></textarea>
      </div>
      <div class="form-item form-btn"><button class="send-btn">send</button></div>
    </form>
  </div>
</section>
